.my-bg-image-vertical {
    background-color: var(--main-blue);
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }

    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    .my-form{
        background-color: white;
        color: rgb(0, 0, 0);

    
    }

    .mycolor{
        background-color: var(--main-blue);
    }

    .h2color{
        color: white;
    }
    