.logo{
    height: 150px;
    width: 230px;
    margin-bottom: 10px;
    margin-left: -20px;
}

.loghetto{
    height: 150px;
    width: 150px;
}

@media (max-width: 1025px) {
    .logo {
        position: absolute;
        top: -23px;
        left: 5px;
    }
    .navbar-toggler{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}