.masthead {
    height: 75vh;
    min-height: 300px;
    background-image: url('./../img/AdobeStock_314722445.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .my-text{
    color: #003049;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
  }

  .my-text2{
    color:  #0a567e;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
  }

  .button-34{
    background-color: #003049;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    box-shadow: rgba(3, 7, 73, 0.2) 0 -25px 18px -14px inset,rgba(3, 7, 73, 0.2) 0 1px 2px,rgba(3, 7, 73, 0.2) 0 2px 4px,rgba(3, 7, 73, 0.2) 0 4px 8px,rgba(3, 7, 73, 0.2) 0 8px 16px,rgba(3, 7, 73, 0.2) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-34:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0 -25px 18px -14px inset,rgba(255, 255, 255, 0.35) 0 1px 2px,rgba(255, 255, 255, 0.35) 0 2px 4px,rgba(255, 255, 255, 0.35) 0 4px 8px,rgba(255, 255, 255, 0.35) 0 8px 16px,rgba(255, 255, 255, 0.35) 0 16px 32px;
    transform: scale(1.05) rotate(-3deg);
  }

  @media (max-width: 1025px) {
    .button-34 {
        margin-right: 13px;
    }
}
