:root{
    --main-blue: #003049; 
    --main-red: #D62828;
    --orange: #F77F00;
    --yellow: rgb(252, 191, 73);
    --beige: #EAE2B7;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar1{
    background-color: var(--main-blue);
    height: 50px;
    padding: 30px;
}

.nav2{
    background-color: white;
    border-bottom: 1px solid black;
    height: 40px;

}

.footer{
    background-color: var(--main-blue);
}
.my-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}





